# Execution Environment (apk | installed)
EXECUTION_MODE=installed

# APK Execution
APK_PATH=../apps/mobile/android/app/build/outputs/apk/release/app-release.apk

# Installed Application Execution
APP_PACKAGE=com.newmomcircle.app
APP_ACTIVITY=com.newmomcircle.app.MainActivity

# Device Config (Leave empty for dynamic detection)
DEVICE_UDID=
ANDROID_VERSION=

# Appium Server Config
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
